
<mat-sidenav-container id="container" fullscreen>
    <mat-sidenav mode="side" opened style="width: 150px">
        <div class="form-group col-md-3">
            <label>Side</label>
            
        </div>
    </mat-sidenav>
    <mat-sidenav-content style="padding-right: 5vh;padding-left: 5vh;padding-top: 25px;">
        
        <div class="row">
            <div class="form-group col-md-4">
                <div class="example-box">
                    <a (click)="register()">
                    <img src="../../assets/button.png" >
                </a>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="example-box" cdkDrag>
                    Second
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="example-box" cdkDrag>
                    Third
                </div>
            </div>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>